<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title> Controle De Estoque</title>

    <style>

    body{
        background-image: linear-gradient(to right, #14688a, #20a7d8);
        }

    a {
       color: inherit;
       text-decoration: none;
    }

    .tabela {
    height: 500px;
    overflow:auto;

    }

    .container {
        padding: 5%;
    }

</style>

</head>
<body>

<div class="container">

    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
          <button type="button" class="btn btn-outline-success"> <a href="{% url 'add' %}">Adicionar </a> </button>
          <b>CONTROLE DE ESTOQUE</b>
        <form class="d-flex" role="search" method="get" id="form">
          <input class="form-control me-2" type="search" id="search" name="search" placeholder="Buscar Produto">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </nav>

    <div class="tabela">
    <table class="table">
        <tr class="table-dark">

            <th> DESCRIÇÃO </th>
            <th> VALOR </th>
            <th> QUANTIDADE </th>
            <th> ULTIMA ALTERAÇÃO </th>
            <th> EDITAR </th>

        </tr>

        {% for item in dic %}
        <tr >

            <td >{{item.descricao}} </td>
            <td >{{item.valor}} </td>
            <td >{{item.quantidade}} </td>
            <td >{{item.data}} </td>
            <td > <button type="button" class="btn btn-outline-primary" id="bt_editar"><a href="{% url 'update' item.id%}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
</svg> </a></button> </td>

        </tr>
        {% endfor %}

    </table>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>